In [1]:
import pandas as pd
import numpy as np
import matplotlib as plot

%matplotlib inline

In [2]:
cd Documents

/Users/mingmingguo/Documents

In [3]:
ls

DjangoProjects/                         WIKI-AAPL.csv.webarchive
Find Hacking Attemps from Network Data/ crunchbase_investments.csv
Google Python.txt                       google doc.docx
Kaggle/                                 google-python-exercises/
Microsoft User Data/                    market_train.csv
S1-ADL1.dat*                            user_list.numbers
Titanic/

In [4]:
data = pd.read_csv('market_train.csv')
data.head()

/Users/mingmingguo/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145231 entries, 0 to 145230
Columns: 1934 entries, ID to target
dtypes: float64(477), int64(1406), object(51)
memory usage: 2.1+ GB

In [6]:
data.tail()

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
145226,290457,H,276,144,3000,C,2,3,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145227,290458,R,39,414,2821,C,3,1,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
145228,290459,R,103,31,2604,B,1,1,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145229,290461,H,78,12,4325,C,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,1
145230,290463,H,228,120,18500,B,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0

In [7]:
data.describe()

,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target
count,145231.000000,145231.000000,145231.000000,145231.000000,145175.000000,145175.00000,145175.000000,145175.000000,145175.000000,145175.000000,...,145231.000000,145231.000000,145231.000000,145231.000000,1.452310e+05,145231.000000,145231.000000,145231.000000,145231.000000,145231.000000
mean,145124.981808,105.278040,88.492285,3721.946210,0.693907,0.51316,0.693907,0.494493,0.476763,1.447598,...,0.549965,86.664369,89.828762,914.417259,9.904497e+08,922.938505,936.487905,9942.162279,8849.839111,0.232547
std,83890.290627,143.351237,125.903323,12280.012213,1.604578,1.17531,1.604578,1.115085,1.000755,1.132784,...,6.361312,31.347700,26.928221,276.361514,9.725818e+07,212.087416,210.370833,743.153332,3175.797333,0.422457
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000
25%,72342.500000,24.000000,13.000000,1790.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
50%,145272.000000,60.000000,55.000000,2500.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
75%,217686.500000,132.000000,120.000000,3600.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
max,290463.000000,999.000000,999.000000,2200000.000000,68.000000,66.00000,68.000000,67.000000,35.000000,39.000000,...,99.000000,99.000000,99.000000,999.000000,1.000000e+09,999.000000,999.000000,9999.000000,9999.000000,1.000000

In [8]:
target = data['target']
target.head()

0    0
1    0
2    0
3    0
4    1
Name: target, dtype: int64

In [9]:
data.pop('target')
data.head()

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934
0,2,H,224,0,4300,C,0,0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
1,4,H,7,53,4448,B,1,0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
2,5,H,116,3,3464,C,0,0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
3,7,H,240,300,3200,C,0,0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,RCC
4,8,R,72,261,2000,N,0,0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,BRANCH

In [10]:
data.pop('ID')
data.head()

,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,VAR_0010,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934
0,H,224,0,4300,C,0,0,False,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
1,H,7,53,4448,B,1,0,False,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
2,H,116,3,3464,C,0,0,False,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
3,H,240,300,3200,C,0,0,False,False,False,...,0,98,98,998,999999998,998,998,9998,9998,RCC
4,R,72,261,2000,N,0,0,False,False,False,...,0,98,98,998,999999998,998,998,9998,9998,BRANCH

In [11]:
# Now we separate the dataset into features and target where data is all about the features and target is the result.
data = data[:10000]
target = target[:10000]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Columns: 1932 entries, VAR_0001 to VAR_1934
dtypes: float64(477), int64(1404), object(51)
memory usage: 147.5+ MB

In [13]:
numerics = ['float64', 'int64']
data_num = data.select_dtypes(include=numerics)
data_num.head()

,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,VAR_0017,...,VAR_1924,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933
0,224,0,4300,0,0,0,0,0,1,0,...,9998,0,98,98,998,999999998,998,998,9998,9998
1,7,53,4448,1,0,1,0,1,2,1,...,9998,0,98,98,998,999999998,998,998,9998,9998
2,116,3,3464,0,0,0,0,0,1,0,...,9998,0,98,98,998,999999998,998,998,9998,9998
3,240,300,3200,0,0,0,0,0,2,0,...,9998,0,98,98,998,999999998,998,998,9998,9998
4,72,261,2000,0,0,0,0,0,1,0,...,9998,0,98,98,998,999999998,998,998,9998,9998

In [14]:
data_num = data_num.fillna(0)
data_num.head()

,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,VAR_0017,...,VAR_1924,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933
0,224,0,4300,0,0,0,0,0,1,0,...,9998,0,98,98,998,999999998,998,998,9998,9998
1,7,53,4448,1,0,1,0,1,2,1,...,9998,0,98,98,998,999999998,998,998,9998,9998
2,116,3,3464,0,0,0,0,0,1,0,...,9998,0,98,98,998,999999998,998,998,9998,9998
3,240,300,3200,0,0,0,0,0,2,0,...,9998,0,98,98,998,999999998,998,998,9998,9998
4,72,261,2000,0,0,0,0,0,1,0,...,9998,0,98,98,998,999999998,998,998,9998,9998

In [15]:
data_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Columns: 1881 entries, VAR_0002 to VAR_1933
dtypes: float64(477), int64(1404)
memory usage: 143.6 MB

In [18]:
data_array = data_num.as_matrix()
data_array

array([[  2.24000000e+02,   0.00000000e+00,   4.30000000e+03, ...,
          9.98000000e+02,   9.99800000e+03,   9.99800000e+03],
       [  7.00000000e+00,   5.30000000e+01,   4.44800000e+03, ...,
          9.98000000e+02,   9.99800000e+03,   9.99800000e+03],
       [  1.16000000e+02,   3.00000000e+00,   3.46400000e+03, ...,
          9.98000000e+02,   9.99800000e+03,   9.99800000e+03],
       ...,
       [  5.16000000e+02,   0.00000000e+00,   2.50000000e+03, ...,
          9.98000000e+02,   9.99800000e+03,   9.99800000e+03],
       [  1.50000000e+01,   1.84000000e+02,   5.20000000e+03, ...,
          4.00000000e+02,   9.99600000e+03,   1.90000000e+01],
       [  2.88000000e+02,   1.68000000e+02,   3.40900000e+03, ...,
          9.98000000e+02,   9.99800000e+03,   9.99800000e+03]])

In [16]:
target_array = target.as_matrix()
target_array

array([0, 0, 0, ..., 0, 0, 0])

In [19]:
data_train = data_array[:8000]
target_train = target_array[:8000]
data_test = data_array[8000:]
target_test = target_array[8000:]

In [20]:
from sklearn.ensemble import ExtraTreesClassifier

In [21]:
clf = ExtraTreesClassifier()

In [22]:
data_train.shape

(8000, 1881)

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
clf = LogisticRegression(C=10)
clf.fit(data_train, target_train)

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0)

In [25]:
pred = clf.predict(data_test)

In [26]:
from sklearn.metrics import accuracy_score

In [28]:
print 'Accuracy of the Logistic Regression Model:', accuracy_score(target_test, pred)

Accuracy of the Logistic Regression Model: 0.779

In [30]:
# do feature selection
clf_2 = ExtraTreesClassifier()
data_array.shape

(10000, 1881)

In [31]:
data_array_new = clf_2.fit(data_array, target_array).transform(data_array)

In [32]:
clf_2.feature_importances_

array([ 0.00050647,  0.000851  ,  0.00106256, ...,  0.00026183,
        0.00040949,  0.00059413])

In [33]:
data_array_new.shape

(10000, 852)

In [34]:
data_train = data_array[:8000]
target_train = target_array[:8000]
data_test = data_array[8000:]
target_test = target_array[8000:]

In [35]:
# Try Naive Bayes Classification
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [36]:
pred = gnb.fit(data_train, target_train).predict(data_test)

In [38]:
print 'Accuracy of the Naive Bayes Model:', accuracy_score(target_test, pred)

Accuracy of the Naive Bayes Model: 0.7385

In [ ]:
clf = LogisticRegression(C=10)
clf.fit(data_train, target_train)
pred = clf.predict(data_test)
print 'Accuracy of the Logistic Regression Model:', accuracy_score(target_test, pred)